{% extends "layout/dashboard_base.html" %}

{% block content %}
<main class="app-main container mt-2 p-2">
  <!-- Task Info -->
  <div class="card card-primary card-outline container w-50">
    <div class="card-header">
      <h4 class="card-title">User Profile</h4>
    </div>
    <div class="card-body">
      <div>
        <h3>Name: <strong>{{user.username}}</strong></h3>
      </div>
      <div>
        <h3>email: <strong>{{user.email}}</strong></h3>
      </div>
      <div>
        <p class="text-secondary">{{user.role}}</p>
      </div>

    </div>
  </div>
</main>
{% endblock %}